$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-rotate-bold: "\ea4c";
$icon-crop-bold: "\ea4d";
$icon-alignright: "\ea4e";
$icon-alignright-bold: "\ea4f";
$icon-alignleft-bold: "\ea50";
$icon-alignleft: "\ea51";
$icon-aligncenter: "\ea52";
$icon-aligncenter-bold: "\ea53";
$icon-customize-bold: "\ea54";
$icon-customize: "\ea55";
$icon-pause-bold: "\e900";
$icon-pause: "\e901";
$icon-moneyholder: "\e902";
$icon-moneyholder-bold: "\e903";
$icon-downloadfile-bold: "\e904";
$icon-downloadfile: "\e905";
$icon-offer: "\e906";
$icon-offer-bold: "\e907";
$icon-settings: "\e908";
$icon-settings-bold: "\e909";
$icon-home: "\e90a";
$icon-home-bold: "\e90b";
$icon-flag-bold: "\e90c";
$icon-flag: "\e90d";
$icon-popup-bold: "\e90e";
$icon-popup: "\e90f";
$icon-remove-bold: "\e910";
$icon-remove: "\e911";
$icon-personalize-bold: "\e912";
$icon-personalize: "\e913";
$icon-listening: "\e914";
$icon-listening-bold: "\e915";
$icon-achievement-bold: "\e916";
$icon-achievement: "\e917";
$icon-micoff-bold: "\e918";
$icon-micoff: "\e919";
$icon-chat: "\e91a";
$icon-chat-bold: "\e91b";
$icon-delete-bold: "\e91c";
$icon-delete: "\e91d";
$icon-cardattachment-bold: "\e91e";
$icon-cardattachment: "\e91f";
$icon-photoslot-bold: "\e920";
$icon-photoslot: "\e921";
$icon-mail: "\e922";
$icon-mail-bold: "\e923";
$icon-camera-bold: "\e924";
$icon-camera: "\e925";
$icon-addressbook-bold: "\e926";
$icon-addressbook: "\e927";
$icon-favorites-bold: "\e928";
$icon-favorites: "\e929";
$icon-reminder: "\e92a";
$icon-reminder-bold: "\e92b";
$icon-rewards: "\e92c";
$icon-rewards-bold: "\e92d";
$icon-playsmall-bold: "\e92e";
$icon-playsmall: "\e92f";
$icon-signout-bold: "\e930";
$icon-signout: "\e931";
$icon-rewind-bold: "\e932";
$icon-rewind: "\e933";
$icon-trash: "\e934";
$icon-trash-bold: "\e935";
$icon-minicard: "\e936";
$icon-minicard-bold: "\e937";
$icon-qrcode: "\e938";
$icon-qrcode-bold: "\e939";
$icon-gift: "\e93a";
$icon-gift-bold: "\e93b";
$icon-question-bold: "\e93c";
$icon-question: "\e93d";
$icon-search: "\e93e";
$icon-search-bold: "\e93f";
$icon-diecut-bold: "\e940";
$icon-diecut: "\e941";
$icon-menuclose-bold: "\e942";
$icon-menuclose: "\e943";
$icon-info: "\e944";
$icon-info-bold: "\e945";
$icon-dashboard: "\e946";
$icon-dashboard-bold: "\e947";
$icon-edit: "\e948";
$icon-edit-bold: "\e949";
$icon-star: "\e94a";
$icon-star-bold: "\e94b";
$icon-receipt: "\e94c";
$icon-receipt-bold: "\e94d";
$icon-360: "\e94e";
$icon-bold: "\e94f";
$icon-add: "\e950";
$icon-add-bold: "\e951";
$icon-idea: "\e952";
$icon-idea-bold: "\e953";
$icon-playcircle: "\e954";
$icon-playcircle-bold: "\e955";
$icon-paypal-bold: "\e956";
$icon-paypal: "\e957";
$icon-pausecircle: "\e958";
$icon-pausecircle-bold: "\e959";
$icon-menu-bold: "\e95a";
$icon-menu: "\e95b";
$icon-closedcaptioning-bold: "\e95c";
$icon-closedcaptioning: "\e95d";
$icon-ornament: "\e95e";
$icon-ornament-bold: "\e95f";
$icon-heavyexternal: "\e960";
$icon-heavyexternal-bold: "\e961";
$icon-dottedbox: "\e962";
$icon-dottedbox-bold: "\e963";
$icon-fastforward: "\e964";
$icon-fastforward-bold: "\e965";
$icon-placeholder-bold: "\e966";
$icon-placeholder: "\e967";
$icon-external: "\e968";
$icon-external-bold: "\e969";
$icon-filter-bold: "\e96a";
$icon-filter: "\e96b";
$icon-laptop-bold: "\e96c";
$icon-laptop: "\e96d";
$icon-play-bold: "\e96e";
$icon-play: "\e96f";
$icon-send-bold: "\e970";
$icon-send: "\e971";
$icon-apps: "\e972";
$icon-apps-bold: "\e973";
$icon-micon: "\e974";
$icon-micon-bold: "\e975";
$icon-rewindcircle: "\e976";
$icon-rewindcircle-bold: "\e977";
$icon-fastforwardcircle-bold: "\e978";
$icon-fastforwardcircle: "\e979";
$icon-package: "\e97a";
$icon-package-bold: "\e97b";
$icon-store-bold: "\e97c";
$icon-store: "\e97d";
$icon-jumbocard-bold: "\e97e";
$icon-jumbocard: "\e97f";
$icon-bulletin: "\e980";
$icon-bulletin-bold: "\e981";
$icon-creditcards-discover-bold: "\e982";
$icon-creditcards-discover: "\e983";
$icon-creditcards-mastercard: "\e984";
$icon-creditcards-mastercard-bold: "\e985";
$icon-creditcards-default-bold: "\e986";
$icon-creditcards-default: "\e987";
$icon-creditcards-visa-bold: "\e988";
$icon-creditcards-visa: "\e989";
$icon-creditcards-amex: "\e98a";
$icon-creditcards-amex-bold: "\e98b";
$icon-like-dislike: "\e98c";
$icon-like-dislike-bold: "\e98d";
$icon-like-like: "\e98e";
$icon-like-like-bold: "\e98f";
$icon-password-show-bold: "\e990";
$icon-password-show: "\e991";
$icon-password-hide-bold: "\e992";
$icon-password-hide: "\e993";
$icon-calendar-calendaradd: "\e994";
$icon-calendar-calendaradd-bold: "\e995";
$icon-calendar-calendar-bold: "\e996";
$icon-calendar-calendar: "\e997";
$icon-calendar-calendarremove-bold: "\e998";
$icon-calendar-calendarremove: "\e999";
$icon-card-features-bold: "\e99a";
$icon-card-features: "\e99b";
$icon-card-inside-bold: "\e99c";
$icon-card-inside: "\e99d";
$icon-card-dimensions-bold: "\e99e";
$icon-card-dimensions: "\e99f";
$icon-card-front: "\e9a0";
$icon-card-front-bold: "\e9a1";
$icon-inbox-inboxmoveto-bold: "\e9a2";
$icon-inbox-inboxmoveto: "\e9a3";
$icon-inbox-inboxdefault: "\e9a4";
$icon-inbox-inboxdefault-bold: "\e9a5";
$icon-inbox-inboxmovefrom-bold: "\e9a6";
$icon-inbox-inboxmovefrom: "\e9a7";
$icon-fullscreen-enter: "\e9a8";
$icon-fullscreen-enter-bold: "\e9a9";
$icon-fullscreen-exit: "\e9aa";
$icon-fullscreen-exit-bold: "\e9ab";
$icon-person-person: "\e9ac";
$icon-person-person-bold: "\e9ad";
$icon-person-personremove-bold: "\e9ae";
$icon-person-personremove: "\e9af";
$icon-person-personadd: "\e9b0";
$icon-person-personadd-bold: "\e9b1";
$icon-hallmark-signsend-bold: "\e9b2";
$icon-hallmark-signsend: "\e9b3";
$icon-hallmark-stamp: "\e9b4";
$icon-hallmark-stamp-bold: "\e9b5";
$icon-notification-remove: "\e9b6";
$icon-notification-remove-bold: "\e9b7";
$icon-notification-default-bold: "\e9b8";
$icon-notification-default: "\e9b9";
$icon-notification-occurring: "\e9ba";
$icon-notification-occurring-bold: "\e9bb";
$icon-notification-add-bold: "\e9bc";
$icon-notification-add: "\e9bd";
$icon-notification-disabled: "\e9be";
$icon-notification-disabled-bold: "\e9bf";
$icon-notification-snooze: "\e9c0";
$icon-notification-snooze-bold: "\e9c1";
$icon-notification-scheduled-bold: "\e9c2";
$icon-notification-scheduled: "\e9c3";
$icon-brands-apple: "\e9c4";
$icon-brands-apple-bold: "\e9c5";
$icon-brands-google-bold: "\e9c6";
$icon-brands-google: "\e9c7";
$icon-brands-android-bold: "\e9c8";
$icon-brands-android: "\e9c9";
$icon-lock-locked: "\e9ca";
$icon-lock-locked-bold: "\e9cb";
$icon-lock-unlocked-bold: "\e9cc";
$icon-lock-unlocked: "\e9cd";
$icon-socialplatforms-twitter-bold: "\e9ce";
$icon-socialplatforms-twitter: "\e9cf";
$icon-socialplatforms-pinterest-bold: "\e9d0";
$icon-socialplatforms-pinterest: "\e9d1";
$icon-socialplatforms-youtube-bold: "\e9d2";
$icon-socialplatforms-youtube: "\e9d3";
$icon-socialplatforms-facebook-bold: "\e9d4";
$icon-socialplatforms-facebook: "\e9d5";
$icon-socialplatforms-instagram-bold: "\e9d6";
$icon-socialplatforms-instagram: "\e9d7";
$icon-socialplatforms-linkedin: "\e9d8";
$icon-socialplatforms-linkedin-bold: "\e9d9";
$icon-locatetarget-locatetargetfound-bold: "\e9da";
$icon-locatetarget-locatetargetfound: "\e9db";
$icon-locatetarget-locatetargetdisabled-bold: "\e9dc";
$icon-locatetarget-locatetargetdisabled: "\e9dd";
$icon-locatetarget-locatetargetdefault: "\e9de";
$icon-locatetarget-locatetargetdefault-bold: "\e9df";
$icon-locatetarget-locatetargetsearching: "\e9e0";
$icon-locatetarget-locatetargetsearching-bold: "\e9e1";
$icon-more-morehorizontal-bold: "\e9e2";
$icon-more-morehorizontal: "\e9e3";
$icon-more-morevertical: "\e9e4";
$icon-more-morevertical-bold: "\e9e5";
$icon-list-listdefault-bold: "\e9e6";
$icon-list-listdefault: "\e9e7";
$icon-list-listremove-bold: "\e9e8";
$icon-list-listremove: "\e9e9";
$icon-list-listadd-bold: "\e9ea";
$icon-list-listadd: "\e9eb";
$icon-people-peopleadd: "\e9ec";
$icon-people-peopleadd-bold: "\e9ed";
$icon-people-peopleremove-bold: "\e9ee";
$icon-people-peopleremove: "\e9ef";
$icon-people-people: "\e9f0";
$icon-people-people-bold: "\e9f1";
$icon-pinning-unpinned-bold: "\e9f2";
$icon-pinning-unpinned: "\e9f3";
$icon-pinning-pin-bold: "\e9f4";
$icon-pinning-pin: "\e9f5";
$icon-cart-cartremove: "\e9f6";
$icon-cart-cartremove-bold: "\e9f7";
$icon-cart-cartfull: "\e9f8";
$icon-cart-cartfull-bold: "\e9f9";
$icon-cart-cartadd-bold: "\e9fa";
$icon-cart-cartadd: "\e9fb";
$icon-cart-cartempty: "\e9fc";
$icon-cart-cartempty-bold: "\e9fd";
$icon-phone-smartphone: "\e9fe";
$icon-phone-smartphone-bold: "\e9ff";
$icon-phone-android-bold: "\ea00";
$icon-phone-android: "\ea01";
$icon-phone-iphone: "\ea02";
$icon-phone-iphone-bold: "\ea03";
$icon-arrows-norgieleft-bold: "\ea04";
$icon-arrows-norgieleft: "\ea05";
$icon-arrows-caretup: "\ea06";
$icon-arrows-caretup-bold: "\ea07";
$icon-arrows-caretleft-bold: "\ea08";
$icon-arrows-caretleft: "\ea09";
$icon-arrows-caretright: "\ea0a";
$icon-arrows-caretright-bold: "\ea0b";
$icon-arrows-tailleft: "\ea0c";
$icon-arrows-tailleft-bold: "\ea0d";
$icon-arrows-doublecaretup: "\ea0e";
$icon-arrows-doublecaretup-bold: "\ea0f";
$icon-arrows-doublecaretleft: "\ea10";
$icon-arrows-doublecaretleft-bold: "\ea11";
$icon-arrows-tailup-bold: "\ea12";
$icon-arrows-tailup: "\ea13";
$icon-arrows-norgiedown: "\ea14";
$icon-arrows-norgiedown-bold: "\ea15";
$icon-arrows-norgieright-bold: "\ea16";
$icon-arrows-norgieright: "\ea17";
$icon-arrows-doublecaretright: "\ea18";
$icon-arrows-doublecaretright-bold: "\ea19";
$icon-arrows-taildown-bold: "\ea1a";
$icon-arrows-taildown: "\ea1b";
$icon-arrows-doublecaretdown-bold: "\ea1c";
$icon-arrows-doublecaretdown: "\ea1d";
$icon-arrows-tailright-bold: "\ea1e";
$icon-arrows-tailright: "\ea1f";
$icon-arrows-caretdown: "\ea20";
$icon-arrows-caretdown-bold: "\ea21";
$icon-arrows-norgieup: "\ea22";
$icon-arrows-norgieup-bold: "\ea23";
$icon-zooming-zoomout-bold: "\ea24";
$icon-zooming-zoomout: "\ea25";
$icon-zooming-zoomin: "\ea26";
$icon-zooming-zoomin-bold: "\ea27";
$icon-favoriting-favorite-bold: "\ea28";
$icon-favoriting-favorite: "\ea29";
$icon-favoriting-unfavorite: "\ea2a";
$icon-favoriting-unfavorite-bold: "\ea2b";
$icon-sync-synclocked-bold: "\ea2c";
$icon-sync-synclocked: "\ea2d";
$icon-sync-syncalert: "\ea2e";
$icon-sync-syncalert-bold: "\ea2f";
$icon-sync-syncinactive: "\ea30";
$icon-sync-syncinactive-bold: "\ea31";
$icon-check-default-bold: "\ea32";
$icon-check-default: "\ea33";
$icon-check-filled: "\ea34";
$icon-check-filled-bold: "\ea35";
$icon-check-circle: "\ea36";
$icon-check-circle-bold: "\ea37";
$icon-authentication-accountauth: "\ea38";
$icon-authentication-accountauth-bold: "\ea39";
$icon-authentication-accountunauth: "\ea3a";
$icon-authentication-accountunauth-bold: "\ea3b";
$icon-volume-volumelow-bold: "\ea3c";
$icon-volume-volumelow: "\ea3d";
$icon-volume-volumemute: "\ea3e";
$icon-volume-volumemute-bold: "\ea3f";
$icon-volume-volumemid: "\ea40";
$icon-volume-volumemid-bold: "\ea41";
$icon-volume-volumehigh: "\ea42";
$icon-volume-volumehigh-bold: "\ea43";
$icon-share-shareandroid-bold: "\ea44";
$icon-share-shareandroid: "\ea45";
$icon-share-shareios: "\ea46";
$icon-share-shareios-bold: "\ea47";
$icon-locatepin-locatepindefault: "\ea48";
$icon-locatepin-locatepindefault-bold: "\ea49";
$icon-locatepin-locatepindisabled: "\ea4a";
$icon-locatepin-locatepindisabled-bold: "\ea4b";

