@import "../../styles/main.scss";

.benefit-block {
  display: grid;
  align-items: center;

  @media (min-width: 767px) {
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .icon {
    max-width: 120px;
    margin: 0 auto;
    display: block;
    width: fit-content;
  }

  &:nth-child(odd) {
    background-color: #ffa500;
  }

  &:first-child {
    @media (max-width: 767px) {
      margin-top: 30px;
    }
  }

  &:last-child {
    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
  &:nth-child(even) {
    background-color: #00adbc;
  }
  padding: 30px;
}

#about {
  padding: $space-40 0;
}
