@import "../../styles/main.scss";

.navigation {
  display: flex;
  align-items: center;
  max-height: fit-content;
  justify-content: space-between;
  padding: 0 $space-16;
  @include media($mq-mobile) {
    padding: 0 $space-16 0 0;
  }
  .navigation-menu {
    display: flex;
    .navigation-item {
      margin-right: $space-16;
      a {
        text-decoration: none !important;
      }
    }
  }

  .btn-secondary {
    max-width: fit-content;
  }
}
